{% extends "myweb/goodslist/order.html" %}

{% block err %}
<div style="text-align: center;margin-top: 30px;margin-bottom: 30px;">
	<h1>
		信息提示:{{info}}
	</h1>
	<div>
		<div>
          <div onclick="window.history.go(-1)" style="line-height: 30px;width: 100px;height: 30px;background-color: #5CB85C;cursor:pointer;border: 0px solid #666;color: #FFFFFF;display: inline-block;margin-top: 20px;">
            返回
          </div>
          <ul>
          	<li style="display: inline-block;">
          		<a href="{% url 'index' %}" style="line-height: 30px;width: 100px;height: 30px;background-color: #5CB85C;cursor:pointer;border: 0px solid #666;color: #FFFFFF;display: inline-block;margin-top: 20px;">去购物</a>
          	</li>
          </ul>
		</div>
	</div>
</div>
{% endblock %}