{% extends "myweb/index.html" %}
{% load static from staticfiles %}
{% block css %}
<style type="text/css">
  body,div,ul,li,a,img{
    margin: 0px;
    padding: 0px;
  }

  div{
    display: block;
  }

  .pro_a{
    position: relative;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.07);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.07);
    height: 60px;
    width: 100%;
    margin-top: 0;
    color: #616161;
  }
  .pro_b{
    position: relative;
    height: 60px;
    width: 100%;
    margin-top: 0;
    color: #616161;    
  }
  .pro_container{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
  }
  .pro_container div a{
    text-decoration: none;
    color: #616161;
    font:  13px 黑体;
  }
  .pro_container div a:hover{
    text-decoration: none;
    color: #FF6700;
  }
  .pro_c{
    background: #f7f7f7;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #333;
  }

  .pro_d{
    position: relative;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    -webkit-box-shadow: 0px -5px 5px rgba(0,0,0,0.07);
    box-shadow: 0px -5px 1px 5px rgba(0,0,0,0.07);
    width: 100%;
    margin-top: 0;
    color: #616161;
  }

  .foot ul li a{
    color: #616161;
  }

  .foot ul li a:hover{
    color: #FF6700;
  }

</style>
{% endblock %}
{% block js%}
<script src="{% static 'mymanage/js/jquery.min.js' %}"></script>
<script type="text/javascript">
  $(function(){

    $(".bat ul li:first").mouseover(function(){
      $(".bat ul li a img:first").attr("src","{% static 'myweb/img/buy2.png' %}");
    });

    $(".bat ul li:first").mouseout(function(){
      $(".bat ul li a img:first").attr("src","{% static 'myweb/img/buy1.png' %}");
    });

    $(".bat ul li:last").mouseover(function(){
      $(".bat ul li a img:last").attr("src","{% static 'myweb/img/ok2.png' %}");
    });

    $(".bat ul li:last").mouseout(function(){
      $(".bat ul li a img:last").attr("src","{% static 'myweb/img/ok1.png' %}");
    });
  });
</script>
{% endblock %}
{% block types %}
  {% for i in utype %}
      <li style="margin-top: 10px;margin-left: 5px;"><a href="{% url 'myweb_Type_list' 1 %}?tid={{i.id}}">{{i.name}}</a></li>
  {% endfor %}
{% endblock %}

{% block contains %}
<div>
  <div>
    <!--头部说明-->
      <div class="pro_a">
        <div class="pro_b">
          <div class="pro_container">
            <div style="display: inline-block;line-height: 60px;position: relative;left: -900px;">
              <h2>
                当前位置:订单处理>2/3 确定订单信息
              </h2>
            </div>
          </div>
        </div>
      </div>
    <!--头部说明结束-->
    <div style="clear: both;width: 100%;"></div>
    <div class="pro_container">
      {% block err %}
      <form style="text-align: center;margin-top: 20px;margin-bottom: 20px;" action="{% url 'myweb_order_insert' %}" method="post">
        {% csrf_token %}
        <div>
          <div>
            <span style="font-weight: bold;font-size: 15px;margin-right: 20px;">写联系人:</span><input  readonly="readonly" class="txt" type="text" autocomplete="off" name="txt_name" placeholder="收件人姓名" style="border: 1px solid #666;display: inline-block;width: 320px;line-height: 30px;outline: 0;" value="{{ request.POST.txt_name}}">
          </div>
          <br/>
          <div>
            <span style="font-weight: bold;font-size: 15px;margin-right: 20px;">收货地址:</span><input  readonly="readonly" class="txt" type="text" autocomplete="off" name="txt_adrr" placeholder="收件人地址" style="border: 1px solid #666;display: inline-block;width: 320px;line-height: 30px;outline: 0;" value="{{ request.POST.txt_adrr}}">
          </div>
          <br/>
          <div>
            <span style="font-weight: bold;font-size: 15px;margin-right: 20px;">联系电话:</span><input  readonly="readonly" class="txt" type="text" autocomplete="off" name="txt_phont" placeholder="收件人电话" style="border: 1px solid #666;display: inline-block;width: 320px;line-height: 30px;outline: 0;" value="{{ request.POST.txt_phont}}">
          </div>
          <br/>
          <div>
            <span style="font-weight: bold;font-size: 15px;margin-right: 20px;">邮政编码:</span><input  readonly="readonly" class="txt" type="text" autocomplete="off" name="txt_po" placeholder="收件人邮编" style="border: 1px solid #666;display: inline-block;width: 320px;line-height: 30px;outline: 0;" value="{{ request.POST.txt_po}}">
          </div>
          <br/>
          <div>
            <span style="font-weight: bold;font-size: 15px;margin-right: 20px;margin-right: 20px;">小计金额:</span><input class="txt" disabled type="text" autocomplete="off" name="txt_cast" placeholder="" style="border: 1px solid #666;display: inline-block;width: 320px;line-height: 30px;outline: 0;" value="{{ request.session.total }} 元">
          </div>
          <br/>
        </div>
        <div>
          <div onclick="window.history.go(-1)" style="line-height: 30px;width: 100px;height: 30px;background-color: #5CB85C;cursor:pointer;border: 0px solid #666;color: #FFFFFF;display: inline-block;">
            返回
          </div>

          <button type="submit" style="display: inline-block;width: 100px;height: 30px;line-height: 30px;background-color: #5CB85C;cursor:pointer;border: 0px solid #666;color: #FFFFFF;">确认下单</button>
        </div>
      </form>
      <div>
        <!--表格列头-->
        <table class="taheard" width="100%" border="0px" cellpadding="0" cellspacing="0" style="font: bold 15px 宋体;">
          <tbody style="background-color: #FFFFFF;border: 1px solid #FFFFFF;line-height: 40px;">
            <tr>
              <td width="350px">商品</td>
              <td>图片</td>
              <td width="250px">单价(元)</td>
              <td width="150px">数量</td>
              <td width="150px">小计(元)</td>
            </tr>
          </tbody>
        </table>
        <!--表格列头结束-->
        <!--表格内容-->
        <div>
          <table  class="mylist" table width="100%" border="0px" cellpadding="0" cellspacing="0" style="font: bold 15px 宋体;margin-top: 5px;">
            <tbody style="background-color: #FFFFFF;border: 1px solid #FFFFFF;line-height: 40px;">
              {% for shop in request.session.orderlist.values %}
                <tr style="border-bottom: 1px solid #333;">

                  <td width="350px">
                    <a style="display: inline-block;" href="{% url 'myweb_list' shop.id %}" target="_blank">
                      <span>{{ shop.goods }}</span>
                    </a>
                  </td>

                  <td>
                      <div><img src="{% static 'mymanage/goods/s_' %}{{ shop.picname }}" alt="{{ shop.goods }}" width="50"></div>
                  </td>

                  <td width="250px">
                    <span>{{ shop.price}}</span>
                  </td>

                <td width="150px">
                    <span>{{ shop.m}}</span>
                </td>

                <td width="150px">
                  <span style="font: bold 20px 黑体;color:#666666;">{% widthratio  shop.price 1 shop.m %}</span>
                </td>

                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div style="clear: both;width: 100%;"></div>
        <!--表格内容结束-->
      </div>
      {% endblock %}
    </div>
  </div>
  <div class="pro_d">
  </div>
  <div style="clear: both;width: 100%;"></div>

  <div class="foot" style="font-size: 20px;text-align: center;position: relative;top: 20px;">
    <ul>
      <li style="display: inline-block;margin-left: 15px;"><a href="#" >虎牙商城</a><span style="display: inline-block;margin-left: 20px;">|</span></li>
      <li style="display: inline-block;margin-left: 15px;"><a href="#" >嘉里商城</a><span style="display: inline-block;margin-left: 20px;">|</span></li>
      <li style="display: inline-block;margin-left: 15px;"><a href="#" >计生商城</a><span style="display: inline-block;margin-left: 20px;">|</span></li>
      <li style="display: inline-block;margin-left: 15px;"><a href="#" >婚姻商城</a><span style="display: inline-block;margin-left: 20px;">|</span></li>
      <li style="display: inline-block;margin-left: 15px;"><a href="#" >恋爱商城</a><span style="display: inline-block;margin-left: 20px;">|</span></li>
      <li style="display: inline-block;margin-left: 15px;"><a href="#" >亲子商城</a><span style="display: inline-block;margin-left: 20px;">|</span></li>
      <li style="display: inline-block;margin-left: 15px;"><a href="#" >三代商城</a></li>
    </ul>
  </div>
  <div style="font-size: 20px;text-align: center; margin-top: 10px;position: relative;top: 20px;">
    <p style="color: #999999;font-size: 13px;">版权:EG商城信息有限公司-粤备案号(68888688)</p>
  </div>

</div>
{% endblock %}

