{% extends "mymanage/main.html" %}
{% load static from staticfiles %}
{% block main_js_css %}
{% load static from staticfiles %}
<script src="{% static 'mymanage/js/jquery.min.js' %}"></script>
<style type="text/css">
	#myall{display: none;}
</style>
<script type="text/javascript">
	function doenv(url){
		if(confirm("要删除数据嘛?")){
			window.location=url;
		}
	}

	$(function(){
		//检索
		$("#myfind").click(function(){
			var txt_info1=$("#mytxt").attr("value")
			var txt_info2=$("#mysel").attr("value");
			$.ajax({
				url:"{% url 'mymanage_user_selfind' 1 %}",
				async:true,
				data: {"txt_info1":txt_info1,"txt_info2":txt_info2},//传数据，没有为空字典或者不写这个字段
				dataType:'json',
				type:'get',
				success:function(res){
					var lis=res.data;
					var str="";
					var str1="";
					var str2="";
					var str3="";
					var str4="";
					var str5="";
					var str6="";
					var sex="";
					var poor="";
					$("table  tr:not(:first)").remove();
					for(var i=0;i<lis.length-1;i++)
					{
						str3="./del"+"/" + lis[i].id
						str2="<a href='./editpwd/" + lis[i].id + "' class='btn btn-primary btn-lg active' style='background-color: #63C663;' role='button'>"+"重置密码</a>"+" "
						str2+="<a href='./edit/" + lis[i].id + "' class='btn btn-primary btn-lg active' style='background-color: #003DC9;' role='button'>"+"编辑</a>" +" "
						str2+="<a href=javascript:doenv('"+ str3 +"') class='btn btn-primary btn-lg active' style='background-color: #E65753;' role='button'>"+"删除</a>"
						if(lis[i].sex == 1)
						{
							sex="男";
						}
						else
						{
							sex="女";
						}

						if(lis[i].state == 0)
						{
							poor="管理员"
							str1="<td style='text-align: center;'><span style='font-weight: bold;color: green;'>" + poor + "</span></td>"
	                        str = "<tr class='warning'>" +
	                        "<td style='text-align: center;'>" + lis[i].id + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].username + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].name + "</td>" +
	                        "<td style='text-align: center;'>" + sex + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].email + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].addtime + "</td>" +
	                        str1 +
	                        "<td style='text-align: center;'>" + str2 + "</td>" +
	                        "</tr>";
						}
						else if (lis[i].state == 1)
						{
							poor="普通会员"
							str1="<td style='text-align: center;'>" + poor + "</td>"
	                        str = "<tr class='success'>" +
	                        "<td style='text-align: center;'>" + lis[i].id + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].username + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].name + "</td>" +
	                        "<td style='text-align: center;'>" + sex + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].email + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].addtime + "</td>" +
	                        str1 +
	                        "<td style='text-align: center;'>" + str2 + "</td>" +
	                        "</tr>";
						}
						else
						{
							poor="禁用用户"
							str1="<td style='text-align: center;'><font color='red'>" + poor + "</font></td>"
	                        str = "<tr class='danger'>" +
	                        "<td style='text-align: center;'>" + lis[i].id + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].username + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].name + "</td>" +
	                        "<td style='text-align: center;'>" + sex + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].email + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].addtime + "</td>" +
	                        str1 +
	                        "<td style='text-align: center;'>" + str2 + "</td>" +
	                        "</tr>";
						}
                        $("tbody").append(str);
					}

					$("#myul li").remove();
					if(lis[lis.length-1].pIndex-1>0)
					{
						str4=lis[lis.length-1].pIndex-1;
						str5=lis[lis.length-1].mywhere1;
						str6=lis[lis.length-1].mywhere2;
						if(str5=='')
						{
							if(str6!=''){
								str5=str6;
							}
						}
						else if(str5!='')
						{
							if(str6!='')
							{
								str5=str5+"&"+str6;
							}
						}
						str3="<li class='disabled'>"+"<a href='"+"./"+ str4 + "?"+ str5 + "'>&laquo;</a></li>";

						$("#myul").append(str3);
					}
					for(i=0;i<=lis[lis.length-1].plist.length-1;i++)
					{
						if(lis[lis.length-1].plist[i].plist == lis[lis.length-1].pIndex)
						{
							str5=lis[lis.length-1].mywhere1;
							str6=lis[lis.length-1].mywhere2;
							if(str5=='')
							{
								if(str6!=''){
									str5=str6;
								}
							}
							else if(str5!='')
							{
								if(str6!='')
								{
									str5=str5+"&"+str6;
								}
							}
							str3="<li class='active'>"+"<a href='"+ "./" +lis[lis.length-1].plist[i].plist+"?"+ str5 + "'>"+lis[lis.length-1].plist[i].plist+"</a></li>";
							$("#myul").append(str3);
						}
						else
						{
							str5=lis[lis.length-1].mywhere1;
							str6=lis[lis.length-1].mywhere2;
							if(str5=='')
							{
								if(str6!=''){
									str5=str6;
								}
							}
							else if(str5!='')
							{
								if(str6!='')
								{
									str5=str5+"&"+str6;
								}
							}
							str3="<li>"+"<a href='"+ "./" + lis[lis.length-1].plist[i].plist+"?"+ str5 + "'>"+ lis[lis.length-1].plist[i].plist +"</a></li>";
							$("#myul").append(str3);
						}
					}
					if(lis[lis.length-1].pIndex+1<=lis[lis.length-1].plist_len)
					{
						str4=lis[lis.length-1].pIndex+1;
						str5=lis[lis.length-1].mywhere1;
						str6=lis[lis.length-1].mywhere2;
						if(str5=='')
						{
							if(str6!=''){
								str5=str6;
							}
						}
						else if(str5!='')
						{
							if(str6!='')
							{
								str5=str5+"&"+str6;
							}
						}
						str3="<li>"+"<a href='"+"./"+ str4 + "?" + str5 + "'>&raquo;</a></li>";
						$("#myul").append(str3);
					}
				},
			});
		});
		//全查
		$("#myall").click(function(){
			$.ajax({
				url:"{% url 'mymanage_user_findall' 1 %}",
				async:true,
				dataType:'json',
				type:'get',
				success:function(res){
					var lis=res.data;
					var str=""
					var str1=""
					var str2=""
					var str3=""
					var sex=""
					var poor=""
					$("table  tr:not(:first)").remove();
					for(var i=0;i<lis.length-1;i++)
					{
						str3="./del"+"/" + lis[i].id
						str2="<a href='./editpwd/" + lis[i].id + "' class='btn btn-primary btn-lg active' style='background-color: #63C663;' role='button'>"+"重置密码</a>"+" "
						str2+="<a href='./edit/" + lis[i].id + "' class='btn btn-primary btn-lg active' style='background-color: #003DC9;' role='button'>"+"编辑</a>" +" "
						str2+="<a href=javascript:doenv('"+ str3 +"') class='btn btn-primary btn-lg active' style='background-color: #E65753;' role='button'>"+"删除</a>"
						if(lis[i].sex == 1)
						{
							sex="男"
						}
						else
						{
							sex="女"
						}

						if(lis[i].state == 0)
						{
							poor="管理员"
							str1="<td style='text-align: center;'><span style='font-weight: bold;color: green;'>" + poor + "</span></td>"
	                        str = "<tr class='warning'>" +
	                        "<td style='text-align: center;'>" + lis[i].id + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].username + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].name + "</td>" +
	                        "<td style='text-align: center;'>" + sex + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].email + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].addtime + "</td>" +
	                        str1 +
	                        "<td style='text-align: center;'>" + str2 + "</td>" +
	                        "</tr>";
						}
						else if (lis[i].state == 1)
						{
							poor="普通会员"
							str1="<td style='text-align: center;'>" + poor + "</td>"
	                        str = "<tr class='success'>" +
	                        "<td style='text-align: center;'>" + lis[i].id + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].username + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].name + "</td>" +
	                        "<td style='text-align: center;'>" + sex + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].email + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].addtime + "</td>" +
	                        str1 +
	                        "<td style='text-align: center;'>" + str2 + "</td>" +
	                        "</tr>";
						}
						else
						{
							poor="禁用用户"
							str1="<td style='text-align: center;'><font color='red'>" + poor + "</font></td>"
	                        str = "<tr class='danger'>" +
	                        "<td style='text-align: center;'>" + lis[i].id + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].username + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].name + "</td>" +
	                        "<td style='text-align: center;'>" + sex + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].email + "</td>" +
	                        "<td style='text-align: center;'>" + lis[i].addtime + "</td>" +
	                        str1 +
	                        "<td style='text-align: center;'>" + str2 + "</td>" +
	                        "</tr>";
						}
                        $("tbody").append(str);
					}

					$("#myul li").remove();
					if(lis[lis.length-1].pIndex-1>0){
						str4=lis[lis.length-1].pIndex-1
						str3="<li class='disabled'>"+"<a href='"+"./"+ str4 + "'>&laquo;</a></li>";
						$("#myul").append(str3);
					}
					for(i=0;i<=lis[lis.length-1].plist.length-1;i++)
					{
						if(lis[lis.length-1].plist[i].plist == lis[lis.length-1].pIndex)
						{
							str3="<li class='active'>"+"<a href='"+ "./" +lis[lis.length-1].plist[i].plist + "'>"+lis[lis.length-1].plist[i].plist+"</a></li>";
							$("#myul").append(str3);
						}
						else
						{
							str3="<li>"+"<a href='"+ "./" + lis[lis.length-1].plist[i].plist + "'>"+ lis[lis.length-1].plist[i].plist +"</a></li>";
							$("#myul").append(str3);
						}
					}
					if(lis[lis.length-1].pIndex+1<=lis[lis.length-1].plist_len){
						str4=lis[lis.length-1].pIndex+1
						str3="<li>"+"<a href='"+"./"+ str4 + "'>&raquo;</a></li>";
						$("#myul").append(str3);
					}
				},
			});	
		});
	});
	
</script>
{% endblock %}
{% block Main_body %}
<div class="row">
	<div class="span9">
		<h1>
			浏览会员信息
		</h1>
		<div>
			关键字：<input id="mytxt" type="text" name="txt_find" value="{{request.GET.txt_find}}" title="除了ID号,可以目前列表中的字段进行查询,支持模糊">
			性别：<select id="mysel" name="txt_sex" style="width: 120px;">
				<option value="" {% if request.GET.txt_sex == '' %}selected{% endif %}>--请选择--</option>
				<option value="1" {% if request.GET.txt_sex == '1' %}selected{% endif %}>男</option>
				<option value="3" {% if request.GET.txt_sex == '3' %}selected{% endif %}>女</option>
			</select>
			<input id="myfind" style="position: relative;top:-5px;width: 100px;height: 30px;" type="button" name="but1" value="搜索">
			<a href="{% url 'mymanage_user_index' 1 %}" class="btn" style="position: relative;top:-5px;">全部</a>
			<input id="myall" style="position: relative;top:-5px;" type="button" name="but2" value="全部">
		</div>
		<table class="table table-bordered table-hover" style="border-color: #8CE0F5;">
			<thead style="background-color: #8CE0F5;">
				<tr>
					<th style="text-align: center;">
						id号
					</th>
					<th style="text-align: center;"> 
						账号
					</th style="text-align: center;">
					<th style="text-align: center;">
						姓名
					</th style="text-align: center;">
					<th style="text-align: center;">
						性别
					</th>
					<th style="text-align: center;">
						邮箱
					</th>
					<th style="text-align: center;">
						注册时间
					</th>
					<th style="text-align: center;">
						状态
					</th>
					<th style="text-align: center;">
						操作
					</th>
				</tr>
			</thead>
			<tbody>
				{% for i in userlist %}
					{% if i.state == 0 %}
						<tr class="warning">
							<td style="text-align: center;">{{i.id}}</td>
							<td style="text-align: center;">{{i.username}}</td>
							<td style="text-align: center;">{{i.name}}</td>
							{% if i.sex == 1 %}
								<td style="text-align: center;">男</td>
							{% else %}
								<td style="text-align: center;">女</td>
							{% endif %}
							<td style="text-align: center;">{{i.email}}</td>
							<td style="text-align: center;">{{i.addtime|date:"Y-m-d H:i:s"}}</td>
							<td style="text-align: center;"><span style="font-weight: bold;color: green;">管理员</span></td>
							<td style="text-align: center;">
								<a href="{% url 'mymanage_user_editpawd' i.id %}" class="btn btn-primary btn-lg active" style="background-color: #63C663;" role="button">重置密码</a>
								<a href="{% url 'mymanage_user_edit' i.id %}" class="btn btn-primary btn-lg active" style="background-color: #003DC9;" role="button">编辑</a>
								<a href="javascript:doenv('{% url 'mymanage_user_delete' i.id %}')" class="btn btn-primary btn-lg active" style="background-color: #E65753;" role="button">删除</a>
							</td>
						</tr>
					{% elif i.state == 1%}
						<tr class="success">
							<td style="text-align: center;">{{i.id}}</td>
							<td style="text-align: center;">{{i.username}}</td>
							<td style="text-align: center;">{{i.name}}</td>
							{% if i.sex == 1 %}
								<td style="text-align: center;">男</td>
							{% else %}
								<td style="text-align: center;">女</td>
							{% endif %}
							<td style="text-align: center;">{{i.email}}</td>
							<td style="text-align: center;">{{i.addtime|date:"Y-m-d H:i:s"}}</td>
							<td style="text-align: center;">普通会员</td>
							<td style="text-align: center;">
								<a href="{% url 'mymanage_user_editpawd' i.id %}" class="btn btn-primary btn-lg active" style="background-color: #63C663;" role="button">重置密码</a>
								<a href="{% url 'mymanage_user_edit' i.id %}" class="btn btn-primary btn-lg active" style="background-color: #003DC9;" role="button">编辑</a>
								<a href="javascript:doenv('{% url 'mymanage_user_delete' i.id %}')" class="btn btn-primary btn-lg active" style="background-color: #E65753;" role="button">删除</a>
							</td>
						</tr>
					{% else %}
						<tr class="danger">
							<td style="text-align: center;">{{i.id}}</td>
							<td style="text-align: center;">{{i.username}}</td>
							<td style="text-align: center;">{{i.name}}</td>
							{% if i.sex == 1 %}
								<td style="text-align: center;">男</td>
							{% else %}
								<td style="text-align: center;">女</td>
							{% endif %}
							<td style="text-align: center;">{{i.email}}</td>
							<td style="text-align: center;">{{i.addtime|date:"Y-m-d H:i:s"}}</td>
							<td style="text-align: center;"><font color="red">禁用用户</font></td>
							<td style="text-align: center;">
								<a href="{% url 'mymanage_user_editpawd' i.id %}" class="btn btn-primary btn-lg active" style="background-color: #63C663;" role="button">重置密码</a>
								<a href="{% url 'mymanage_user_edit' i.id %}" class="btn btn-primary btn-lg active" style="background-color: #003DC9;" role="button">编辑</a>
								<a href="javascript:doenv('{% url 'mymanage_user_delete' i.id %}')" class="btn btn-primary btn-lg active" style="background-color: #E65753;" role="button">删除</a>
							</td>
						</tr>
					{% endif %}

				{% endfor %}
			</tbody>
		</table>				
		<div class="pagination">
			<ul id="myul">
				<li class="disabled">
					{% if pIndex|add:-1 > 0 %}
						<a href="{% url 'mymanage_user_index' pIndex|add:-1 %}?{{ mywhere|join:'&' }}">&laquo;</a>
					{% endif %}

				</li>
				<!--增加分页栏-->
				{% for j in plist %}
					{% if j == pIndex %}
						<li class="active">
							<a href="{% url 'mymanage_user_index' j %}?{{ mywhere|join:'&' }}">{{j}}</a>
						</li>
					{% else %}
						<li>
							<a href="{% url 'mymanage_user_index' j %}?{{ mywhere|join:'&' }}">{{j}}</a>
						</li>
					{% endif %}
				{% endfor %}
				<li>
					{% if pIndex|add:1 <= plist_len %}
						<a href="{% url 'mymanage_user_index' pIndex|add:1 %}?{{ mywhere|join:'&' }}">&raquo;</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}